In [1]:
dataset <- read.csv("Student Performance new.csv")

In [ ]:
print(dataset)

In [3]:
colnames(dataset) <- c("id", "race", "edu", "lunch", "prep", "math", "read", "write", "gen")

In [ ]:
print(dataset)

In [5]:
dataset$math <- dataset$math * 100
dataset$read <- dataset$read * 100
dataset$write <- dataset$write * 100

In [8]:
dataset$average <- rowMeans(dataset[,c("math", "read", "write")])

In [ ]:
print(dataset)

In [11]:
summary(dataset$math)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
   0.00   57.00   66.00   66.09   77.00  100.00

In [12]:
summary(dataset$read)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  17.00   59.00   70.00   69.17   79.00  100.00

In [13]:
summary(dataset$write)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  10.00   57.75   69.00   68.05   79.00  100.00

In [17]:
unique_race <- unique(dataset$race)
print(unique_race)

[1] "group B" "group C" "group A" "group D" "group E"

In [18]:
unique_edu <- unique(dataset$edu)
print(unique_edu)

[1] "bachelor's degree"  "some college"       "master's degree"
[4] "associate's degree" "high school"        "some high school"

In [19]:
unique_lunch <- unique(dataset$lunch)
print(unique_lunch)

[1] "standard"     "free/reduced"

In [20]:
unique_prep <- unique(dataset$prep)
print(unique_prep)

[1] "none"      "completed"

In [21]:
unique_gen <- unique(dataset$gen)
print(unique_gen)

[1] "F" "M"

In [25]:
average_by_race <- aggregate(cbind(math, read, write) ~ race, data = dataset, FUN = mean)
print(average_by_race)

     race     math     read    write
1 group A 61.62921 64.67416 62.67416
2 group B 63.45263 67.35263 65.60000
3 group C 64.46395 69.10345 67.82759
4 group D 67.36260 70.03053 70.14504
5 group E 73.82143 73.02857 71.40714

In [26]:
average_by_edu <- aggregate(cbind(math, read, write) ~ edu, data = dataset, FUN = mean)
print(average_by_edu)

                 edu     math     read    write
1 associate's degree 67.88288 70.92793 69.89640
2  bachelor's degree 69.38983 73.00000 73.38136
3        high school 62.13776 64.70408 62.44898
4    master's degree 69.74576 75.37288 75.67797
5       some college 67.12832 69.46018 68.84071
6   some high school 63.49721 66.93855 64.88827

In [27]:
average_by_lunch <- aggregate(cbind(math, read, write) ~ lunch, data = dataset, FUN = mean)
print(average_by_race)

     race     math     read    write
1 group A 61.62921 64.67416 62.67416
2 group B 63.45263 67.35263 65.60000
3 group C 64.46395 69.10345 67.82759
4 group D 67.36260 70.03053 70.14504
5 group E 73.82143 73.02857 71.40714

In [28]:
average_by_prep <- aggregate(cbind(math, read, write) ~ prep, data = dataset, FUN = mean)
print(average_by_prep)

       prep     math     read    write
1 completed 69.69553 73.89385 74.41899
2      none 64.07788 66.53427 64.50467

In [29]:
average_by_gen <- aggregate(cbind(math, read, write) ~ gen, data = dataset, FUN = mean)
print(average_by_gen)

  gen     math     read    write
1   F 63.63320 72.60811 72.46718
2   M 68.72822 65.47303 63.31120