In [1]:
emp_sal <- data.frame(
  Emp_ID = c(11, 12, 13, 14, 15),
  Dep = c("Sales", "HR", "Sales", "HR", "Sales"),
  Basic = c(25450, 22500, 21000, 23500, 15000),
  Allowances = c(5200, 4500, 3100, 2600, 1800)
)

In [2]:
print(emp_sal)

  Emp_ID   Dep Basic Allowances
1     11 Sales 25450       5200
2     12    HR 22500       4500
3     13 Sales 21000       3100
4     14    HR 23500       2600
5     15 Sales 15000       1800

In [3]:
emp_sal$net_sal <- emp_sal$Basic + emp_sal$Allowances

In [4]:
print(emp_sal)

  Emp_ID   Dep Basic Allowances net_sal
1     11 Sales 25450       5200   30650
2     12    HR 22500       4500   27000
3     13 Sales 21000       3100   24100
4     14    HR 23500       2600   26100
5     15 Sales 15000       1800   16800

In [5]:
sales_net_salaries <- emp_sal$net_sal[emp_sal$Dep == "Sales"]
print(sales_net_salaries)

[1] 30650 24100 16800